:root{
    --large-space: 30px;
    --small-space: 15px;
    --green: #149173;
    --black: #000000;
    --yellow:#ffc107;
    --blue:#317bff;
    --bg-black: #161616;
    --white: #fff;
    --bg-main: #e3e3e3;
    --grey: #545454;
    --grey-box: #c4c4c4;
    --grey-ad: #5b5b5b;
    --grey-index: #898989;
    --grey-shadow: #c1c1c1;
    --grey-badge: #f2f2f2;
    --paginate-disable: #6d6d6d;
    --footer-text: #606060;
    --red: #ff0000;
    --warn: #ce0000;
    --font-size: 10px;
    --square: 32px;
    --square-footer: 22px;
    --bd-rd: 10px;
    --bd-rd-div: 5px;
    --bg-grey-div: #e3e3e3;
    --font-size-h2: 3.4rem;
    --line-height-h2: 4rem;

    --font-size-h3: 2.7rem;

    --font-size-h4: 2.4rem;
    --line-height-h4: 2.7rem;

    --font-size-h5: 1.8rem;

    --font-size-text: 1.6rem;
    --line-height-text: 2.9rem;

    --content-width: 1170px;
    --logo-width:300px;
    
    --font-size-h6: 2.0rem;
    
    --slider-btn-size: 60px;
    --bg-slider-btn: #f1f1f1;
    
    --font-size-14: 1.4rem;
    --size-checkmark: 24px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}
ul li {
    list-style: none;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.menu__item__search input {
    background: transparent;
    outline: none;
    border: none;
}

.main__content__right {
    flex: 1;
    margin-left: var(--large-space);
}

.main__content__left {
    width: 73%;
}
html {
    font-size: var(--font-size);
}
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}
h3 {
    font-size:var(--font-size-h3);
    text-transform: uppercase;
}
h4{
    font-size:var(--font-size-h4);
    line-height: var(--line-height-h4);
}
h5{
    font-size:var(--font-size-h5);
    font-weight: normal;
}
h6{
    font-size:var(--font-size-h6);
}
p,span,label{
    font-size:var(--font-size-text);
}
.textcut-1-line,.textcut-2-line,.textcut-3-line{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.textcut-1-line{
    -webkit-line-clamp: 1;
}
.textcut-2-line{
    -webkit-line-clamp: 2;
}
.textcut-3-line{
    -webkit-line-clamp: 3;
}
.d-f {
    display: flex;
}
.d-f-responsive {
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-btw-space{
    justify-content: space-between;
}
.ml-auto{
    margin-left: auto;
}
.mt-auto{
    margin-top: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.ml-15 {
    margin-left: var(--small-space);
}
.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: var(--large-space);
}
.mt-7 {
    margin-top: 7px;
}
.mt-15 {
    margin-top: var(--small-space);
}
.mt-12 {
    margin-top:12px;
}
.mr-auto{
    margin-right: auto;
}
.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-font-med {
    font-weight: 500;
}
.is-shadow {
    box-shadow: 3px 3px 10px 3px var(--grey-shadow);
}
.is-shadow-hover:hover{
    box-shadow: 4px 7px 5px 1px rgb(206 206 206);
}
.check_section {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    padding-top: 4px;
}
.check_section input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.check_section .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--size-checkmark);
    width: var(--size-checkmark);
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid var(--grey-box);
    border-radius: 4px;
  }
/* ******************** pagination **************** */
.square-btn {
    font-size: 1.7rem;
    width: var(--square);
    height: var(--square);
    background-color: var(--grey-box);   
    margin-left: 12px; 
    border-radius: var(--bd-rd-div);
}
.square-btn.is-active {
    background-color: var(--green);  
    color: var(--white);
}
.square-btn:disabled {
    background-color: var(--paginate-disable);
    cursor: not-allowed;
}
.square-btn .img_arrow {
    width: 12px;
}
/* *************** end pagination ******************** */
.title{
    color: var(--green);
    position: relative;
    padding-bottom: 17px;
}
.title::before{
    content: '';
    height: 5px;
    width: 62px;
    background: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content__wrapper { /* container */
    --col:4; 
    --spacing: var(--small-space);
    --width: calc(100% / var(--col));

    display: flex;
    margin-left: calc(-1 * var(--spacing));
    flex-flow: row wrap;
}
.content__wrapper__item {
    flex-basis: calc(calc(var(--width) - var(--spacing)));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.mt-28{
    margin-top: 28px;
}
.py-28{
    padding: 28px 0;
}
.my-28{
    margin: 28px 0;
}
.container{
    width: var(--content-width);
    margin: 0 auto;
    /* overflow: hidden; */
}
.logo{
    width: var(--logo-width);
}
.img_default{
    width: 100%;
    transform: scale(1.0);
}
.img_default.is-item{
    height: 100%;
    object-fit: cover;
}
.img_rotate {
    transform: rotate(180deg);
}
.header,.footer{
    background-color: var(--bg-black);
}
.main{
    background-color: var(--bg-main);
    /* padding-bottom: var(--large-space); */
}
.bg-div{
    background-color: var(--green);
}
.bg-ad{
    background-color: var(--white);
}
.header{
    min-height: 84px;
}
/* **************************** header *************** */
ul.menu li {
    list-style: none;
    color: var(--white);
    margin-left: 8px;
    cursor: pointer;
}
ul.menu li.menu__item{
    padding: 7px 13px;
    border-radius: var(--bd-rd);
    font-weight: bold;
}
.menu__item .menu__item__img{
    width: 40px;
}
ul.menu li.menu__item:hover {
    background: var(--green);
}
ul.menu li.menu__item.is-avt:hover {
    background: transparent;
}
.menu__item.is-avt{
    position: relative;
}
.menu__item.is-avt .menu__popup{
    position: absolute;
    right: 20px;
    bottom: -71px;
    width: 150px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    box-shadow: 5px 4px 15px 1px rgb(226 226 226 / 18%);
}
.menu__item.is-avt .menu__popup:before {
    content: '';
    position: absolute;    
    width: 10px;
    height: 10px;
    background: rgb(20 145 115);
    transform: rotate(45deg);
    z-index: -1;
    right: 8px;
    top: -4px;
}
.menu__item.is-avt .menu__popup_item {
    padding: 10px;
}
ul.menu li.menu__item.is-avt:hover .menu__popup.is-avt{
    opacity: 1;
    visibility: visible;
}
.menu__item__search{
    background-color: var(--grey-box);
    padding: 6px 8px;
    border-radius: var(--bd-rd);
    align-items: center;
    max-height: 32px;
    /* align-self: center; */
}
.menu__item__search_look{
    width: 15px;
    margin-right: 9px;
}
.menu__item__hamburger p{
    position: relative;
}
.menu__item__hamburger p::before,
.menu__item__hamburger p::after{
    content: '';
    position: absolute;
}

.menu__item__hamburger p,
.menu__item__hamburger p::before,
.menu__item__hamburger p::after{
    width: 21px;
    height: 4px;
    background: var(--white);
}
.menu__item__hamburger p::before{
    top: -8px;
}
.menu__item__hamburger p::after{
    bottom: -8px;
}
/* ************************** Right content *********************** */
.main__content__right__ads.content__wrapper{
    --col:2;
    --spacing: 10px;
    margin-bottom: calc(-1 * var(--spacing));
}
.main__content__right__video{
    background-color: var(--grey-ad);
}
.main__content__right__ads.content__wrapper .content__wrapper__item{
    height: 100px;
    border-radius: var(--bd-rd);
}
.main__content__right__banner-ad{
    height: 500px;
}
.main__banner{
    padding: 25px 0 34px 0;    
    border-bottom: 2px solid var(--grey-box);

}
.main__banner__ad{
    height: 170px;
    border-radius: var(--bd-rd-div);
}
.main__content__right__video {
    height: 200px;
    border-radius: var(--bd-rd);
}
.content__wrapper.main__content__right__ads_banner{
    --col: 1;
    --spacing: 28px;    
    margin-bottom: calc(-1 * var(--spacing));
}
.slider_btn{
    width: var(--slider-btn-size);
    height: var(--slider-btn-size);
    background:var(--bg-slider-btn);
    border-radius: 50%;
    cursor: pointer;
}
.slider_btn_img{
    width: calc(var(--slider-btn-size) / 3);
    height: calc(var(--slider-btn-size) / 3);
}
.main__green__section{
    color: var(--white);
    border-radius: var(--bd-rd);
    background-color: var(--green);
}
.main__green__section p {
    margin-top: 10px;
    line-height: 2.2rem;
    font-size: 1.4rem;
}
/* ************************* footer *************************** */
.footer{
    padding: 40px 0 48px 0;
}
.footer__logo{
    width: 182px;
}
.footer__contain{
    justify-content: space-between;
}
.footer__item {
    width: 350px;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.footer__item_list {
    display: flex;
    flex-flow: column wrap;
}
.footer__text{
    margin-top: 35px;
}
.footer p{
    color: var(--footer-text);
    font-size: 1.2rem;
    line-height: 2rem;
}
.footer__item_list p {
    color: var(--white);
    font-size: 1.2rem;
    margin-top: 15px;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 500;
}
.footer .mt-auto{
    text-align: right;
}
.footer__item__link{
    width: var(--square-footer);
    height: var(--square-footer);
    margin-left: 17px;
    cursor: pointer;
}
.news__article__action {
    margin: 10px 0;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    :root{
        --large-space: 17px;
        --small-space: 5px;
    
        --font-size-h2: 2.4rem;
        --line-height-h2: 3rem;

        --font-size-h3: 1.7rem;
        --font-size-h4: 1.7rem;
        --line-height-h4: 2.0rem;

        --font-size-h5: 1.4rem;
        --font-size-text: 1.4rem;
        --line-height-text: 1.7rem;
    
        --content-width: 100%;
        --slider-btn-size: 50px;
        --logo-width: 230px;
        --square: 28px;
        }
        .is-hide-mb{
            display: none !important;
        }
        .content__wrapper.is-mb__nowrap{
            --col: 2;
            --spacing: 15px;
            flex-wrap: nowrap;
            overflow-x:scroll;

        }
        .is-mb__nowrap .content__wrapper__item{
            flex-shrink: 0;
        }
        .d-f-responsive{
            flex-direction: column;
        }
        .mt-28{
            margin-top: 15px;
        }
        .container{
            padding: 0 15px;
            /* overflow: hidden; */
        }
        .header{
            padding: 10px 0;
        }
        .header_wrapper{
            flex-direction: column;        
            align-items: center;       
        }
        .header_wrapper .header_right{
            margin-top: 12px;
            flex-direction: column;
            margin-left: 0;
        }
        .header_wrapper .header_right .menu{
            margin-top: 10px;
            margin-left: -7px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header .menu .menu__item{
            padding: 5px 8px;
            margin-bottom: 5px;
        }
        .header .menu__item p {
            font-size: 1.1rem;
        }
        .main__content{
            flex-direction: column;
        }
        .main__content__left {
            width: 100%;
        }
        .main__content__right {
            flex: 1;
            margin-left: 0;
        }
        .main__content__right__banner-ad {
            height: 380px;
        }
        .content__wrapper.main__content__right__ads_banner{
            --col: 2;
            --spacing: 10px;
        }
        .footer__contain{
            flex-direction: column;
        }
        .footer__item{
            width: 100%;
            height: auto;
        }
        .footer__item.footer__item_list {
            height: 100px;
        }
        .footer__text{
            margin-top: 20px;
        }
        .footer .mt-auto {
            margin-top: 10px;
        }
        .footer__item_list {
            display: flex;
            flex-flow: row wrap;
        }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    :root{
    --large-space: 25px;
    --small-space: 10px;

    --font-size-h2: 3.2rem;
    --line-height-h2: 3.7rem;

    --font-size-h3: 2.5rem;
    --font-size-h4: 2.2rem;
    --line-height-h4: 2.7rem;
    --font-size-h5: 1.6rem;
    --font-size-text: 1.4rem;
    --line-height-text: 2.7rem;

    --content-width: 100%;
    }
    .menu__item__search{
        align-self: center;
    }
    .mt-28{
        margin-top: 23px;
    }
    .container{
        padding: 0 30px;
        /* overflow: hidden; */
    }
    .header{
        padding: 15px 0;
    }
    .header_wrapper{
        flex-direction: column;        
        align-items: center;       
    }
    .header_wrapper .header_right{
        margin-top: 20px;
        margin-left: 0;
    }
    ul.menu li.menu__item{
        padding: 7px 14px;
    }
    .footer__item{
        width: 270px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .menu__item__search{
        align-self: center;
    }
    ul.menu li.menu__item p {
        font-size: 1.4rem;
    }
}

/* ***************************** TinTuc_TrangChu ****************************************************************** */
/* ***************************** TinTuc_TrangChu ****************************************************************** */
/* ***************************** TinTuc_TrangChu ****************************************************************** */
/* ***************************** TinTuc_TrangChu ****************************************************************** */
/* ***************************** TinTuc_TrangChu ****************************************************************** */
/* ***************************** TinTuc_TrangChu ****************************************************************** */

.main__content__news__date{
    color: var(--grey);
    margin: 17px 0;
}
.main__content__news__list{
    align-items: baseline;
}
.news__list_item{
    font-weight: 500;
    color: var(--footer-text);
    font-size: 1.8rem;
    padding-bottom: 5px;
    cursor: pointer;
    margin-right: 28px;
}
.news__list_item:hover{
    color: var(--green);
    border-bottom: 3px solid currentColor;
}
.is-active-underline {
    color: var(--green);
    border-bottom: 3px solid currentColor;
}
.news__list_item.is-last{
    color: var(--red);
    border-radius: var(--bd-rd);
    padding: 4px 7px;
    border: 2px solid currentColor;
    font-weight: bold;
}
.content__news__wrapper__item{
    border-bottom: 2px solid var(--grey-box);
}
.content__news__wrapper__item p {
    color: var(--grey);
    line-height: var(--line-height-h4);
}
.content__news__wrapper__item:hover p,
.content__news__wrapper__item:hover h4{
    color: var(--green);
    cursor: pointer;
}
.news__item__img{
    width: 300px;
    height: 221px;
    border-radius: var(--bd-rd);
    overflow: hidden;
}
.news__item__title {
    flex: 1;
    padding-left: 30px;
}
.content__news__pagination{
    margin-bottom: 25px;
}
/* ********************** slider ***************** */
.main__slider{
    --img-height: 220px;
    --img-space:30px;
}
.main__slider.is-padding-bot {
    padding-bottom: 25px;
    border-bottom: 2px solid var(--grey-box);
}
.main__slider.is-padding-top{
    padding-top: 40px;
}
.main__slider_wrapper{
    --col:3;
    --spacing: 30px;    
}
.main__slider_wrapper .content__wrapper__item:hover h4{
    color: var(--green);
}
.main__slider_wrapper_img{
    height: var(--img-height);
    margin-bottom: var(--img-space);
    border-radius: var(--bd-rd);
    overflow: hidden;
}
.main__slider__controls .slider_btn{
    margin-right: 20px;
}
.main__slider__banner{
    margin-top: 30px;
}
.main__slider__banner_item{
    height: var(--img-height);
    border-radius: var(--bd-rd);
    overflow: hidden;
}
.main__slider__banner.content__wrapper{
    --col:2;
    --spacing: 30px;
}
/* .main__slider__banner_item.content__wrapper__item{
    margin-bottom: 0;
} */
/* mobile only  */
@media screen and (max-width: 768px) {
    .main__content__news__list{
        flex-wrap: wrap;
    }
    .news__item__img{
        width: 100%;
        height: 180px;
    }
    .news__list_item {
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-right: 12px;
    }
    .news__item__title{
        padding-left: 0;
        margin-top: 10px;
    }
    .py-28 {
        padding: 15px 0;
    }    
    .main__content__news__date {
        margin: 10px 0;
    }
    .main__slider_wrapper_img{
        --img-height: 150px;
        --img-space: 15px;
        overflow: hidden;
    }
    .main__slider__banner.content__wrapper{
        --col:1;
        --spacing: 10px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .news__item__img{
        width: 245px;
        height: auto;
        /* height: 200px; */
    }
    .news__list_item {
        font-size: 1.4rem;
    }
    .py-28 {
        padding: 25px 0;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {

}

/* ***************************** TinTuc_TrangChu2 ****************************************************************** */
/* ***************************** TinTuc_TrangChu2 ****************************************************************** */
/* ***************************** TinTuc_TrangChu2 ****************************************************************** */
/* ***************************** TinTuc_TrangChu2 ****************************************************************** */
/* ***************************** TinTuc_TrangChu2 ****************************************************************** */
/* ***************************** TinTuc_TrangChu2 ****************************************************************** */

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .content__news__wrapper__item.is-latest .news__item__img {
        width: 310px;
        height: 250px;
    }
    .content__news__wrapper__item.is-latest h4 {
        margin-bottom: 14px;
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .content__news__wrapper__item.is-latest .news__item__img {
        width: 385px;
        height: 294px;
    }
    .content__news__wrapper__item.is-latest h4 {
        margin-bottom: 14px;
        font-size: 3.2rem;
        line-height: 3.6rem;
    }
}
/* ***************************** TinTuc ****************************************************************** */
/* ***************************** TinTuc ****************************************************************** */
/* ***************************** TinTuc ****************************************************************** */
/* ***************************** TinTuc ****************************************************************** */
/* ***************************** TinTuc ****************************************************************** */
/* ***************************** TinTuc ****************************************************************** */
.main__news {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey-box);
}
.main__content__news__article {
    margin-top: 15px;
}
.news__article__text p{
    margin-bottom: 30px;
}
.news__article__action_btn{
    height: 23px;
    margin-right: 10px;
    cursor: pointer;
}
.news__article__img{
    border-radius: var(--bd-rd);
    overflow: hidden;
}

/* mobile only  */
@media screen and (max-width: 768px) {
    .news__article__img  {
        height: 200px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .news__article__img  {
        height: 360px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .news__article__img  {
        height: 430px;
    }
}

/* ***************************** KhoaHoc ****************************************************************** */
/* ***************************** KhoaHoc ****************************************************************** */
/* ***************************** KhoaHoc ****************************************************************** */
/* ***************************** KhoaHoc ****************************************************************** */
/* ***************************** KhoaHoc ****************************************************************** */
/* ***************************** KhoaHoc ****************************************************************** */
.main__courses{
    --height-btn: 42px;
    --width-btn: 210px;
}
.main__courses .news__item__title{
    flex-direction: column;
}
.main__courses .news__item__title p{
    margin: 7px 0;
}
.main__courses .enroll-btn {
    width: var(--width-btn);
    height: var(--height-btn);
    justify-content: space-between;
    background: var(--green);
    padding: 5px;
    border-radius: 35px;
    color: var(--white);
}
.main__courses .enroll-btn span {
    font-size: 1.4rem;
}
.main__courses .enroll-btn_img{
    width: calc(var(--height-btn) - 11px);
    display: flex;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .main__courses .main__content__news__list  {
        margin-top: 12px;
    }
    .main__courses {
        --height-btn: 26px;
        --width-btn: 140px;
    }
    .main__courses .enroll-btn span {
        font-size: 1.2rem;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .main__courses .main__content__news__list  {
        margin-top: 25px;
    }
    .main__courses {
        --height-btn: 35px;
        --width-btn: 180px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .main__courses .main__content__news__list  {
        margin-top: 40px;
    }

}
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
/* ***************************** KhoaHoc_trangcon ****************************************************************** */
.main__course_detail .main__content__left__news {
    padding-bottom: var(--large-space);
    border-bottom: 2px solid var(--grey-box);
}
.main__course_info_box{
    padding: 47px 40px 49px 40px;
    color: var(--white);
    overflow: hidden;
    border-radius: var(--bd-rd);
}

.main__course_detail .main__content__news__list{
    margin-bottom: 10px;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .main__course_detail .main__content__news__list  {
        margin-top: 12px;
    }
    .news__course_detail_text p {
        line-height: 2.5rem;
    }
    .main__course_info_box{
        padding: 27px 25px 29px 25px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .main__course_detail .main__content__news__list  {
        margin-top: 25px;
    }
    .news__course_detail_text p {
        line-height: 2.7rem;
    }
    .main__course_info_box{
        padding: 27px 25px 29px 25px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .main__course_detail .main__content__news__list  {
        margin-top: 40px;
    }
    .news__course_detail_text p {
        line-height: 2.9rem;
    }
}
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
/* ***************************** DienDan_ThongTinCaNhan ****************************************************************** */
.main__forum_info{
    --space-section: 28px;
}

.main__breadcrumb,
.main__breadcrumb_item{
    align-items: baseline;
}
.main__breadcrumb_item_img {
    width: 17px;
    margin: 0 6px;
}
.title_small{
    font-size: var(--size-small);
    color: var(--footer-text);
}
.main__new-post_btn {
    padding: 5px 28px;
    display: flex;
    border-radius: var(--bd-rd-div);
    cursor: pointer;    
    align-items: center;
    background-color: var(--white);
}
.main__new-post_btn_img {
    width: 27px;
    margin-right: 10px;
}
.main__new-post_btn span{
    font-weight: bold;
    color: var(--green);
}

.main__forum_info_detail {
    background: var(--white);
    margin-top: var(--small-space);
    border-radius: var(--bd-rd);
}
.main__forum_info_detail_section{
    padding: var(--space-section);
}
.detail_section_description{
    margin-top: var(--space-section);
}
.detail_section_description p{
    color: var(--grey);
}
.main__forum_info_detail_section.is-bg-grey{
    background-color: var(--bg-slider-btn);
}
.main__forum_info_detail_section.is-bg-grey * {
    color: var(--green);
    font-weight: bold;
}

.main__forum_info_detail_section.is-warn {
    color: var(--red);
}
.main__forum_info_detail_section.is-warn>span:first-child {
    text-transform: uppercase;
}
.detail_section_avt_meta,
.detail_section_avt_badges{
    flex: 1;
    flex-basis: 49%;
}
.detail_section_avt_badges>p {
    color: var(--grey);
    font-weight: bold;
    margin-bottom: 16px;
}
.detail_section_title_link li {
    margin-top: 10px;
}
.detail_section_title_img {
    width: 22px;
    margin-right: var(--small-space);
}
.detail_section_avt_img{
    width: 150px;
    flex-shrink: 0;
}
.detail_section_avt_info{
    flex: 1;
    margin-left: var(--large-space);
}
.detail_section_avt_info h5 {
    font-size: calc(var(--font-size-h5) + 0.2rem);
    color: var(--green);
    font-weight: bold;
}
.detail_section_avt_info_follow {
    margin-left: 10px;
    font-size: 1rem;
    color: rgb(255 255 255);
    width: 65px;
    background: url(./images/follow-btn.png) no-repeat center;
    background-size: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    cursor: pointer;
}
.detail_section_avt_info p {
    font-size: 1.2rem;
    color: var(--footer-text);
    font-weight: 500;
}
.detail_section_avt_star_img{
    width: 20px;
    margin-right: calc(var(--small-space) + 3px);
}
.detail_section_avt_info_post{
    margin-top: 10px;
}
.detail_section_avt_info_post_img{
    width: 15px;
    margin-right: 10px;
}
.detail_section_avt_info_post p{
    font-size: calc(var(--font-size-text) - 0.2rem);
    color: var(--footer-text);
}
.detail_section_avt_badges{
    padding: 15px 33px;
    background: var(--bg-grey-div);
    border-radius: var(--bd-rd);
}
.detail_badges.content__wrapper{
    --col: 2;
    --spacing: 12px;
}
.detail_badges .content__wrapper__item{
    height: 22px;
    border-radius: 40px;
    color: var(--white);
    background-color: var(--footer-text);
}
.detail_badges .content__wrapper__item span {
    font-size: 1.1rem;    
    font-weight: 900;
}
.detail_badges .content__wrapper__item.is-green{
    background-color: var(--green);
}
.detail_badges .content__wrapper__item.is-yellow{
    background-color: var(--yellow);
}
.detail_badges .content__wrapper__item.is-blue{
    background-color: var(--blue);
}
.detail_badges_crown{
    width: 15px;
    margin-right: 5px;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .main__forum_info{
        --size-small: calc(var(--font-size-h3) - 0.2rem); 
    }
    .main__breadcrumb_item_img {
        width: 10px;
        margin: 0 2px;
    }
    .main__new-post_btn{
        margin-top: 7px;
    }
    .detail_section_avt_meta, .detail_section_avt_badges {
        align-items: center;
    }
    .detail_section_avt_info{
        margin-left:0;
        display: flex;
        flex-direction: column;
        align-items: center;        
        align-self: stretch;
    }
    .detail_section_avt_badges,
    .detail_section_avt_info_post>*,
    .detail_section_avt_info, 
    .detail_section_avt_info>* {
        margin-top: 10px;
    }
    .detail_section_avt_info_post {
        display: flex;
        justify-content: space-between;
        margin-top: -2px;
        align-self: stretch;
    }
    .detail_section_avt_info_post_img {
        width: 15px;
        margin-right: 5px;
    }
    .detail_section_avt_info_follow{
        width: 60px;
        background-size: 60px;
        padding-right: 6px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .main__forum_info{
        --size-small: calc(var(--font-size-h3) - 0.7rem); 
    }
    .main__forum_info_title{
        align-items: flex-end;
    }
    .detail_section_avt{
        flex-direction: column;
    }
    .detail_section_avt_badges{
        margin-top: 10px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .main__forum_info{
        --size-small: calc(var(--font-size-h3) - 0.7rem); 
    }
    .main__forum_info_title{
        align-items: flex-end;
    }

}
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
.home__forum{
    --square-index: 16px;
}
.home__forum__section{
    padding: 12px 23px;
}
.home__forum__section__post__wrapper{
    margin-top: 10px;
    padding: 1px 10px 15px 10px;
    background: var(--white);
    border-radius: var(--bd-rd);
}
.home__forum__section__post{
    margin-top: 15px;
    font-size: var(--font-size-14);
}
.post_detail,.post_detail_meta {
    flex: 1;
}
.post_detail {
    font-weight: 500;
}
.post_detail_title {    
    padding-right: 20px;
    width: 65%;
}
.post_detail_meta_date {
    margin-right: 30px;
    color: var(--footer-text);
}
.post_detail_title a,.post_detail_meta_author{
    color: var(--green);
}
.post_index{
    height: var(--square-index);
    width: var(--square-index);
    background-color: var(--grey-index);
    border-radius: 4px;
    font-size: 10px;
    color: var(--white);
}
.post_index.is-latest{
    background-color: var(--green);
}
.home__forum button{
    background-color: var(--grey-index);
    padding: 10px 30px;
    color: var(--white);
    font-size: var(--font-size-text);
    border-radius: var(--bd-rd-div);
}
.home__forum .main__slider__banner.content__wrapper{
    --spacing: 18px;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .post_index{
        margin-right: 4px;
    }
    .post_detail_title {
        padding-right: 0;
        width: 100%;
    }
    .post_detail_meta{
        margin-left: auto;
        margin-top: 5px;
    }
    .post_detail_meta_date {
        margin-right: 5px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .post_index{
        margin-right: 7px;
    }
    .post_detail_meta_date {
        margin-right: 5px;
    }
    .post_detail_title {
        padding-right: 10px;
        width: 55%;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .post_index{
        margin-right: 10px;
    }
}

/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
/* ***************************** Diendan_TrangChu ****************************************************************** */
.forum__detail{
    --size-post: 80px;
    --size-author-avt: 51px; 
}
.home__forum__section__post__wrapper.forum__detail{
    padding: 22px 25px;
}
.forum__detail__item h5{
    color: var(--green);
    font-weight: 500;    
}
.forum__detail__item_title{
    margin-bottom: 10px;
}
.forum__detail__item_date{
    font-size: var(--font-size-14);
    color: var(--footer-text);
}

.forum__detail__item_author_img{
    width: var(--size-author-avt);
    height: var(--size-author-avt);
    border-radius: var(--bd-rd);
    overflow: hidden;
    margin-right: 12px;
}
.forum__detail__item_img{
    width: var(--size-post);
    height: var(--size-post);
    border-radius: var(--bd-rd);
    overflow: hidden;    
    margin-right: 12px;
}
.forum__detail__item_meta{
    display: flex;
    flex: 1;
}
.forum__detail__item_meta_text {
    width: 65%;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.forum__detail__item {
    padding: 18px 0;
    border-bottom: 2px solid var(--grey-box);
}
.forum__detail__item:first-child {
    padding-top: 0;
}
.forum__detail__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .forum__detail{
        --size-author-avt: 35px;
    }
    .forum__detail__item_img{
        width: 100%;
        height: calc(var(--size-post) + 40px);
    }
    .forum__detail__item_meta{        
        margin-top: 10px;
    }
    .forum__detail__item_meta_text{
        margin-left: 0;
    }
    .forum__detail__item_author_img{
        margin-right: 0;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    
}

/* desktop only  */
@media screen and (min-width:1251px) {
    
}
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
.forum__new_post{
    --size-small: calc(var(--font-size-h3) - 0.7rem); 
    --space-badge: 10px
}
.forum__new_post_section {
    margin-top: 25px;
}
.forum__new_post_section:first-child {
    margin-top: 0;
}
.forum__new_post_section h6{
    color: var(--green);
}
.forum__new_post_section_control{
    margin-top: var(--small-space);
}
.forum__new_post_control_badges{
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--space-badge));
}
.badges {
    padding: 10px 20px;
    margin-left: var(--space-badge);
    margin-bottom: var(--space-badge);
    background: var(--grey-badge);
    border-radius: var(--bd-rd);
    cursor: pointer;
    color: var(--grey);
}
.badges:hover {
    background: var(--grey-shadow);
}
.forum__new_post_section_control input{
    padding: 5px;
}
.forum__new_post_section_control input,
.forum__new_post_section_control textarea {
    background: var(--grey-badge);
    border-radius: var(--bd-rd);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
}
.forum__new_post_section_control input {
    padding: 12px 20px;   
}
.forum__new_post_section_control textarea {
    padding: 12px 20px;
    height: 215px;
}
.forum__new_post_section_control input[type=file] {
    display: none;
}
.forum__new_post_section_control label.badges {
    display: flex;
    align-items: center;
    max-width: 330px;   
    margin-left: 0;
}
.new_post_upload{
    width: 20px;
    margin-right: 10px;
}
.forum__new_post button[type=submit],
.main__daily_news_more button {
    padding: 17px;
    margin-top: 20px;
    color: var(--white);
    width: 100%;
    background: var(--green);
    border-radius: var(--bd-rd);
    font-size: var(--font-size-h6);
    font-weight: 500;
}
.home__forum__section__post__wrapper.forum__detail.is-post-note{
    margin-top: 40px;
    background: var(--grey-badge);
}
.is-post-note p{
    color: var(--grey);
    line-height: var(--line-height-text);
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .is-post-note p{
        line-height: calc(var(--line-height-text) + 0.7rem);
    }
    .forum__new_post button[type=submit]{
        padding: 12px;
    }
    .badges {
        padding: 8px 10px;
        font-size: 1.2rem;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    
}

/* desktop only  */
@media screen and (min-width:1251px) {
    
}
/* ***************************** Diendan_Comment ****************************************************************** */
/* ***************************** Diendan_Comment ****************************************************************** */
/* ***************************** Diendan_Comment ****************************************************************** */
/* ***************************** Diendan_Comment ****************************************************************** */
/* ***************************** Diendan_Comment ****************************************************************** */
.forum__comment{
    --size-small: calc(var(--font-size-h3) - 0.7rem); 
    --size-avt-comment: 50px;
    --space-avt: 10px;
}
.forum__comment__meta {
    display: flex;
}
.forum__comment__meta * {
    color: var(--grey);
    font-size: var(--font-size-h5);
}
.forum__comment__meta_view{
    margin-left: 25px;
}
.forum__comment__meta_view .detail_section_avt_info_post_img{
    width: 25px;    
    display: flex;
}
.forum__comment  .main__content__news__article{
    padding-bottom: 40px;
}
.forum__comment__related_news{
    padding:20px 0;
    border-top: 2px solid var(--grey-box);
    border-bottom: 2px solid var(--grey-box);
}
.forum__comment__related_news p {
    font-weight: bold;
    color: var(--grey);
}
.forum__comment__related_news_list{
    padding-top: 10px;
}
.forum__comment__related_news_list li {
    padding: 5px 0;
}
.forum__comment__related_news_list a{
    font-size: var(--font-size-text);
    color: var(--green);
    margin-top: 12px;
}
.forum__comment__section h6{
    color: var(--grey);
}
.forum__comment .detail_section_avt_info{
    margin-bottom: 30px;
    margin-left: 0;
}
.forum__comment_avt_info_img{
    width: var(--size-avt-comment);
    margin-right: var(--space-avt);
    flex-shrink: 0;
}
.forum__comment__section h6{
    padding: 20px 0 28px 0;

}
.forum__comment__section_wrapper{
    margin-top: -20px;
}
.forum__comment .content__news__pagination{
    margin-bottom: 0;
}
.forum__comment__line{
    margin-top: 20px;
}
.forum__comment__line.is-input .forum__comment__line_content{
    color: var(--green);    
    align-items: center;
}
.forum__comment__line.is-input span{
    color: var(--grey);
}
.forum__comment__line_content{
    padding: 15px 20px;
    background: var(--grey-box);
    flex: 1;
    border-radius: var(--bd-rd);
}
.forum__comment__line_content_text{
    line-height: var(--line-height-text);
    color: var(--grey);
}
.forum__comment__line_content .detail_section_avt_info{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.forum__comment__line_content .detail_section_avt_info p {
    font-size: 1rem;
}
.forum__comment__line_content .detail_section_avt_info h5{
    font-size:var(--font-size-h5);
}
.forum__comment__line_content .detail_section_avt_info_follow {
    height: 30px;
    width: 75px;
    background-size: 75px;
}
.forum__comment__line.is-answer{
    padding-left: calc(var(--space-avt) + var(--size-avt-comment));
}
.forum__comment__line_reaction_div {
    margin-right: 12px;
}
.forum__comment__line_reaction_div span {
    font-size: 1.1rem;
    color: var(--footer-text);
}
.forum__comment__line_reaction_div p {
    font-size: 1.2rem;
    color: var(--footer-text);
}
.forum__comment__line_reaction_like{
    margin-left: 5px;
    width: 15px;
    cursor: pointer;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .forum__comment{
        --size-avt-comment: 30px;
        --space-avt: 7px;
    }
    .forum__comment .detail_section_avt_info {
        flex-direction: row;
    }
    .forum__comment__line_reaction_div {
        margin-right: 6px;
    }
    .forum__comment__line_content .detail_section_avt_info p{
        display: none;
    }
    .forum__comment__line_reaction_div p{
        font-size: 1rem;
    }
    .forum__comment__line_content .detail_section_avt_info_follow {
        width: 60px;
        background-size: 60px;
        margin-top: 0;
    }
    .forum__comment__line_content .detail_section_avt_info{
        margin-top: 0;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
 
}

/* desktop only  */
@media screen and (min-width:1251px) {
    
}
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
/* ***************************** Diendan_dangbai ****************************************************************** */
.main__daily_news{
    flex: 1;
    --size-btn: 35px;
}
.btn__toggle_mode{
    background: var(--white);
    border-radius: 40px;
    padding: 7px;
    height: 48px;
    margin-right: 10px;
}
.btn__toggle_mode span{
    color: var(--footer-text);
    padding: 0 10px;
}
.btn__toggle_mode_img{
    width: var(--size-btn);
}
.main__daily_news_content_tags.content__wrapper{
    --col: 4;
    --spacing: 15px;
}
.daily_news_tags_item{
    text-align: center;
    padding: 10px;
    border-radius: var(--bd-rd);
    color: var(--footer-text);
    background: #ededed;
    cursor: pointer;
}
.daily_news_tags_item.is-active{
    background: var(--green) !important;
    color: var(--white);
}
.daily_news_tags_item:hover{
    background: var(--white);
}
.main__daily_news_content_check .check_section{
    color: var(--red);
    font-weight: 500;
}
.main__daily_news_content_check .checkmark{
    border-color: var(--red);
}
.main__daily_news_content_check .check_section_img{
    position: absolute;
    width: 20px;
    top: 4px;
    opacity: 0;
    left: 3px;
}
.main__daily_news_content_check .check_section input:checked ~ .check_section_img{
    opacity: 1;
}
.main__daily_news_wrapper{
    padding: 22px 0;
    background: #ddd;
    border-radius: var(--bd-rd);    
    margin-top: 20px;
}
.main__daily_news_item_icon, .main__daily_news_item_time {
    margin-right: 18px;
    flex-shrink: 0;
}
.main__daily_news_item_time {
    width: 75px;
    color: var(--footer-text);
}
.main__daily_news_item_upper{
    align-items: flex-start;
}
.main__daily_news_item_icon {
    width: 15px;
}
.main__daily_news_item_under{
    margin-top: 10px;
    display: none;
}
.main__daily_news_item_content button {
    padding: 8px 20px;
    margin-top: 10px;
    background: rgb(162 161 161);
    border-radius: var(--bd-rd);
}

.main__daily_news_item {
    padding: 12px 28px;
}
.main__daily_news_item:hover {
    background: var(--grey-box);
}
.main__daily_news_item_content{
    flex: 1;
}
.main__daily_news_item.is-hot .main__daily_news_item_upper *{
    color: var(--red);
}
.main__daily_news_item.is-open .main__daily_news_item_under{
    display: flex;
}
.main__daily_news_item.is-open .main__daily_news_item_upper .main__daily_news_item_content{
    font-weight: bold;
}
.main__daily_news_item_wrapper.content__wrapper{
    --col:4;
    --spacing:18px;
}
.main__daily_news_item.is-one .main__daily_news_item_wrapper.content__wrapper{
    --col:1;
}
.main__daily_news_item.is-two .main__daily_news_item_wrapper.content__wrapper{
    --col:2;
}
.main__daily_news_item.is-three .main__daily_news_item_wrapper.content__wrapper{
    --col:3;
}
.main__daily_news_item_wrapper.content__wrapper .content__wrapper__item{
    height: 150px;
    border-radius: var(--bd-rd);
}
.main__daily_news_more {
    padding: 12px 28px;
}
.main__daily_news_more button {
    padding: 10px;
}



/* mobile only  */
@media screen and (max-width: 768px) {
    .main__daily_news{
        --size-btn: 25px;
    }
    .main__daily_news_item{
        padding: 12px 10px;
    }
    .main__daily_news_item .main__daily_news_item_icon,
    .main__daily_news_item.is-ads .main__daily_news_item_time,
    .main__daily_news_item_under .main__daily_news_item_time{
        display: none;
    }
    .main__daily_news_item_upper{
        flex-direction: column;
    }
   
    .main__daily_news_item.is-ads .main__daily_news_item_upper{
        flex-direction: row;
    }
    .main__daily_news_item.is-four .main__daily_news_item_wrapper.content__wrapper{
        --col:2;
    }
    .btn__toggle_mode{
        border-radius: 40px;
        padding: 4px;
        height: 36px;
        margin-right: 7px;
    }
    .btn__toggle_mode span{
        padding: 0 6px;
        font-size: 1.2rem;
    }
    .main__content__right__btn{
        margin-left: 0;
        margin-top: 10px;
    }
    .main__daily_news_content_tags.content__wrapper{
        --col:2;
        --spacing: 10px;
    }
    .main__daily_news_item_time {
        /* display: block !important; */
        width: 65px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .main__daily_news_item_upper{
        flex-direction: row;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    
}

/* ***************************** PopUp ****************************************************************** */
/* ***************************** PopUp ****************************************************************** */
/* ***************************** PopUp ****************************************************************** */
/* ***************************** PopUp ****************************************************************** */
/* ***************************** PopUp ****************************************************************** */
.wrapper {
    padding: 20px;
    flex-wrap: wrap;
}
.wrapper>div {
    margin: 20px;
}
.noti__popup {
    text-align: center;
    padding: 10px 30px;
    min-width: 300px;
    max-width: 980px;
    background: var(--white);
    border-radius: var(--bd-rd-div);
}
.noti__popup.is-warn p{
    text-align: left;
    line-height: 2.2rem;
}
.noti__popup.is-warn span{
    color: var(--red);
}
.form__popup_content__title{
    text-align: center;
}
.noti__popup p,
.form__popup_content__title p{
    color: var(--footer-text);
    font-size: 1.4rem;
}
.noti__popup h3,
.form__popup_content__title h3{
    text-transform: unset;
    color: var(--green);
    margin-bottom: 4px;
    font-weight: 900;
}


.form__popup{
    padding: 10px;
    width: 320px;
    min-height: 830px;
    background: var(--white);
    border-radius: var(--bd-rd);
    overflow: hidden;
}
.form__popup_control_btn{
    width: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.form__popup_content {
    padding: 7px 10px;
}
.form__popup_content__logo{
    width: 255px;
    margin-bottom: 90px;
}
.form__popup_content__title{
    margin-bottom: 30px;
}
.form__popup_content__input_wrapper,
.form__popup_content__input_item{
    margin-bottom: 10px;
}
.form__popup_content__input_item {
    width: 100%;
    outline: none;
    color: var(--footer-text);
    border: 1px solid var(--footer-text);
    padding: 11px 25px 7px 13px;
    border-radius: var(--bd-rd-div);
}
.form__popup_content__input_item::placeholder {
    color: var(--footer-text);
}
.form__popup_content__forget{
    --size-checkmark:20px;
}
.form__popup_content__forget .check_section {
    color: var(--footer-text);
    padding-top: 2px;
}
.form__popup_content__forget .check_section .checkmark{
    border: 1px solid var(--footer-text);
}
.form__popup_content__forget .check_section_img{
    position: absolute;
    width: 20px;
    top: 0;
    opacity: 0;
    left: 0;
}
.form__popup_content__forget .check_section input:checked ~ .check_section_img{
    opacity: 1;
}
.form__popup_content__forget .check_section input:checked ~ .checkmark{
    opacity: 0;
}
.form__popup_content__forget_link{
    color: var(--green);
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}
.form__popup_content__forget_link span {
    font-size: 14px;
}
.form__popup_content__submit{
    border-radius: 40px;
    overflow: hidden;
    background: var(--green);
    margin: 22px 0;
}
.form__popup_content__submit.is-out{
    background: var(--white);
    border: 1px solid #d0d0d0;
}
.form__popup_content__submit.is-out button{
    color: var(--footer-text);
}
.form__popup_content__submit button{
    padding: 11px;
    width: 100%;
    background:transparent;
    color: var(--white);
}
.form__popup_content__social {
    text-align: center;
}
.form__popup_content__social span {
    color: var(--footer-text); 
    font-size: 14px;
    text-align: center;
}
.form__popup_content__social_div {
    width: 70%;
    margin: 10px auto;
    display: flex;
}
.form__popup_content__social_img {
    width: 50px;
    cursor: pointer;
    margin-right: 20px;
}
.form__popup_content__social_img:last-child{
    margin-right: 0;
}
.form__popup_content__register{
    margin: 90px 0 70px;
    color: var(--footer-text); 
    text-align: center;
}
.form__popup_content__register h4 {
    font-size: 14px;
    color: var(--green);
    cursor: pointer;
}

.form__popup_content__input_item.is-error::placeholder{
    color: var(--warn);
}
.form__popup_content__input_item.is-error{
    border-color: var(--warn);
}
.form__popup_content__input_error{
    color: var(--warn);
    align-items: flex-start;
}
.form__popup_content__input_error p{
    font-size: 12px;
}
.form__input_error_img{
    width: 13px;
    flex-shrink: 0;
    margin-right: 5px;
}
.item_div.is-ok {
    position: relative;
}

.item_div.is-ok:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 11px;
    width: 12px;
    height: 5px;
    border: 3px solid rgb(0 128 0);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.is-password .form__popup_content__title{
    padding-top: 30px;
}
.is-password .form__popup_content__title p{
    font-style: italic;
    text-align: left;
    line-height: 2.2rem;
}
.form__popup_content_avt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__popup_content_avt_img{
    width: 100px;
}
.form__popup_content_upload{
    color: var(--footer-text);
    border-radius: var(--bd-rd-div);
    padding: 7px 20px;
    background: var(--bg-grey-div);
    font-size: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.form__popup_content_upload input{
    display: none;
}
.form__popup.is-members{
    min-height: unset;
    padding: 0;
}
.form__popup_title{
    padding: 10px;
    background: var(--green);
    flex: 1;    
    align-items: center;
}
.form__popup_title_text h4 {
    font-size: 2rem;
    color: rgb(255 255 255);
}
.form__popup_title .form__popup_control_btn{
    margin-left: auto;
}
.form__popup_members_item {
    align-items: center;
    padding: 10px 15px;
}
.form__popup_members_img{
    width: 50px;
    margin-right: 10px;
    position: relative;
}
.form__popup_members_name{
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    
}
.form__popup_members_item.is-online .form__popup_members_img::before{
    position: absolute;
    content: '';
    bottom: 3px;
    z-index: 2;
    right: 3px;
    width: 10px;
    height: 10px;
    background: var(--green);
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
}
.form__popup_content_info_img{
    width: 125px;
}
.is-popup-info {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail_section_avt_info.is-popup-info .detail_section_avt_star_img:last-child{
    margin-right: 0;
}
.form__popup.is-info .detail_badges.content__wrapper {
    margin-top: 20px;
}
.form__popup.is-info .detail_section_description{
    margin-top: 20px;
    text-align: justify;
}
.form__popup.is-info .main__forum_info_detail_section{
    background: transparent;
    padding: 10px 0;
}
.form__popup.is-info .main__forum_info_detail_section.is-bg-grey *,
.form__popup.is-info .detail_section_description p {
    font-size: 1.4rem;
}
.form__popup.is-info .main__forum_info_detail_section.is-warn * {
    font-size: 1.2rem;
    text-align: justify;
}
.menu__popup {
    background: var(--green);
    width: 350px;
}
.menu__popup_item{
    color: var(--white);
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
}
.menu__popup_item:hover,
.menu__popup_item_wrapper.is-active .menu__popup_item{
    background: #047f5f;
}
ul.menu__popup_item_child * {
    color: rgb(255 255 255);
    padding: 4px 10px;
    cursor: pointer;
}
.menu__popup_item_img{
    margin-right: 10px;
    width: 25px;
}
.menu__popup_item_wrapper.is-toggle .menu__popup_item{
    display: flex;
}

/* ***************************** lichKinhTe ****************************************************************** */
/* ***************************** lichKinhTe ****************************************************************** */
/* ***************************** lichKinhTe ****************************************************************** */
/* ***************************** lichKinhTe ****************************************************************** */
/* ***************************** lichKinhTe ****************************************************************** */
.eco-calendar *{
    transition: all 0s;
}
.eco-calendar h4 {
    color: var(--white);
    padding: 10px;
    background: var(--green);
    margin-bottom: 10px;

}
.eco-calendar_section {
    background: rgb(255 255 255);
    border-radius: var(--bd-rd);
}
.eco-calendar_section>p {
    padding: 10px 10px 3px 10px;
}
.eco-calendar_wrapper{
    padding: 0 10px;
}
.eco-calendar_wrapper_item:first-child{
    border-top: 1px solid var(--grey-box);
}
.eco-calendar_wrapper_item {
    border-bottom: 1px solid var(--grey-box);
    padding: 10px 0;
}
.eco-calendar_wrapper_item,.eco-calendar_item_detail_status{
    align-items: flex-start;
}
.eco-calendar_item_detail_status {
    justify-content: space-between;
}
.eco-calendar_wrapper_item_flag>* {
    margin-right: 12px;
}
.eco-calendar_item_detail_status>* {
    margin-right: 10px;
}
.eco-calendar_status_item span,.eco-calendar_wrapper_item_flag span {
    font-size: 1.2rem;
}
.eco-calendar_status_item{
    padding-right: 7px;
}
.eco-calendar_status_item span{
    margin-right: 4px;
}
.eco-calendar_wrapper_item_detail>p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 3px;
    max-width: 193px;
}
.eco-calendar_flag_img{
    width: 20px;
}
.item_detail_div p {
    font-size: 1rem;
    color: var(--footer-text);
}
.item_detail_div span {
    font-size: 1.2rem;
    color: var(--footer-text);
}
.item_detail_div.is-green span{
    color: var(--green);
}
span.item_detail_status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b5b5b5;
}
span.item_detail_status.is-red{
    background: var(--red);
}
span.item_detail_status.is-yellow{
    background: var(--yellow);
}
.eco-calendar_statuses{
    padding: 10px;
}
.eco-calendar_wrapper_btn button {
    padding: 10px;
    width: 100%;
    background: var(--green);
    color: var(--white);
    font-size: 1.6rem;
}
.ex-calendar_under .content__wrapper__item{
    text-align: center;
    color: var(--white);
    font-size: 1rem;
    background: #b5b5b5;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
}
.content__wrapper__item.is-win,
.calendar_table_col_number .status.is-number.is-win{
    background: var(--green);
}
.content__wrapper__item.is-lose,
.calendar_table_col_number .status.is-number.is-lose{
    background: var(--footer-text);
}
.content__wrapper__item.is-trading,
.calendar_table_col_number .status.is-number.is-trading{
    background: var(--white);
    color: var(--green);
    /* border: 1px solid var(--green); */
    box-shadow: 0 0 0 1px var(--green);
}
.calendar_table_col_number .status.is-number.is-win,
.calendar_table_col_number .status.is-number.is-lose{
    color: var(--white);
}
.eco-calendar_wrapper_btn {
    padding: 10px;
}
.ex-calendar_text * {
    font-size: 1.2rem;
}
.ex-calendar_badage {
    padding: 5px 10px;
    background: rgb(41 188 30);
    border-radius: 5px;
    color: rgb(255 255 255);
    margin-left: 7px;
}
.ex-calendar_text * {
    font-size: 1.2rem;
    font-weight: bold;
}
.ex-calendar_upper{
    align-items: center;
}
/* ***************** fix *********** */
.calendar{
    --size-slider-btn: 60px;
}
.calendar h3.title{
    margin: 20px 0;
}
.home__forum__section__post__wrapper.forum__detail.calendar_note{
    margin-top: 0;
    background: #b5b5b5;
}
.calendar_note h3,.calendar_note p{
    color: var(--footer-text);
}
.main__slider__banner.is-four.content__wrapper{
    --col:4;
    --spacing: 15px;
}
.main__slider__banner.is-four.content__wrapper .main__slider__banner_item{
    height: 150px;
    
}
.ex-calendar_upper_img{
    width: 40px;
    margin-right: 15px;
}  
.content__wrapper.ex-calendar_under{
    --col:3;
    --spacing: 10px;
}
.content__wrapper.ex-calendar_under {
    margin-bottom: calc(-1 * var(--spacing));
}
.content__wrapper__item_trade_img {
    width: 27px;
    display: inline-block;
}
.main__content_calendar p{
    line-height: 2.6rem;
    color: var(--footer-text);
}
.calendar_slider {
    margin: 20px 10px;
    padding: 10px 20px;
    background: var(--white);
    border-radius: var(--bd-rd);
}
.calendar_slider_btn{
    width: var(--size-slider-btn);
}
.calendar_slider_wrapper{
    display: flex;
    flex: 1;
} 
.calendar_slider_wrapper{
    margin: 0 15px;
}
.calendar_slider_wrapper_item{
    flex-shrink: 0;
    text-align: center;
    color: var(--footer-text);
    padding: 7px;
    border-radius: var(--bd-rd);
    height: 88px;
    width: 88px;
    cursor: pointer;
    margin-right: 20px;
}
.calendar_slider_wrapper_item.is-active{
    color: var(--white);
    background: var(--green);
    box-shadow: 4px 7px 5px 1px rgb(206 206 206);
}
.calendar_slider_wrapper_item.is-active>p {
    color: var(--white);
}
.calendar_slider{
    display: flex;
    align-items: center;
}

.main__content_calendar_table {
    background: var(--white);
    padding: 20px 0;
    border-radius: var(--bd-rd);
}
.calendar_table_title {
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-box);
    padding-bottom: 13px;
    margin: 0 20px;
}
.calendar_table_title h4,
.calendar_table_title p,
.calendar_table_body_item h4,
.calendar_table_body_item p {
    color: var(--footer-text);
}
.calendar_table_col_date, .calendar_table_col_number {
    width: 90px;
}
.calendar_table_col_text p {
    font-weight: bold;
}
.calendar_table_col_text_img{
    width: 30px;
    margin-right: 15px;    
    flex-shrink: 0;
}
.calendar_table_col_number{
    text-align: center;
    font-weight: bold;
}
.calendar_table_col_number span.item_detail_status {
    margin-top: 7px;
}
.calendar_table_col_text {
    flex: 1;
}
.calendar_table_body_item_wrapper{
    padding: 15px 20px;
}
.calendar_table_body_item_wrapper.is-active .calendar_table_body_item_under{
    display: flex;
}
.calendar_table_body_item_wrapper .calendar_table_body_item_under{
    display: none;
}
.calendar_table_body_item_under {
    margin-top: 10px;
}
.calendar_table_col_number.is-green p{
    color: var(--green);
}
.calendar_table_col_text_div span{
    font-size: 1.2rem;
    line-height: 2.3rem;
}
.calendar_table_body_item_wrapper:nth-child(even) {
    background: #ededed;
}
.main__content_calendar_table .eco-calendar_statuses{
    padding: 10px 20px;
}
.eco-calendar_item_detail_status{
    max-width: 200px;
}
.calendar_slider_btn{
    flex-shrink: 0;
}
.calendar_table_col_number .status.is-number.is-trading .content__wrapper__item_trade_img {
    width: 45px;
}
/* mobile only  */
@media screen and (max-width: 768px) {
    
    .main__content_calendar p{
        line-height: 2rem;
    }
    .calendar_slider{
        display: block;
        overflow: hidden;
    }
    .calendar_slider_btn {
        float: left;
        margin-left: 20px;
    }
    .calendar_slider_btn:last-child{
        float: right;
        margin-right: 10px;
    }
    .calendar_slider_wrapper{
        overflow: auto;
        margin-bottom: 10px;
    }
    
    .calendar_table_col_date, .calendar_table_col_number {
        width: 70px;
    }
     .main__slider__banner.is-four.content__wrapper {
         --col:2;
     }
     .main__slider.is-calendar{
         --col:1;
     }
     .eco-calendar_wrapper_item_detail>p{
        max-width: unset;
        line-height: 1.5rem;
     }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .main__slider__banner.is-four.content__wrapper {
        --col:3;
    }

    .calendar_slider{
        display: block;
        overflow: hidden;
    }
    .calendar_slider_btn {
        float: left;
        margin-left: 20px;
    }
    .calendar_slider_btn:last-child{
        float: right;
        margin-right: 20px;
    }
    .calendar_slider_wrapper{
        overflow: auto;
        margin-bottom: 20px;
    }

    .container-fixed{
        display: flex;        
        padding: 20px 0;
    }
    .eco-calendar {
        margin-top: 0;
        margin-right: 20px;
    }
    .eco-calendar:last-child{
        margin-right: 0;
    }
    .eco-calendar_wrapper_item_detail>p{
        max-width: 270px;
     }
     .content__wrapper.mt-10.ex-calendar_under {
        width: 275px;
    }
    .calendar_table_item.d-f-responsive{
        flex-direction: column;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .calendar .container{
        overflow: unset;
    }
    .container-fixed {
        position: absolute;
        top: 84px;
        right: 50px;
    }
    .calendar_slider_btn{
        order: 3;
    }
    .calendar_slider_btn.is-first{
        order: 1;
    }
    .calendar_slider_wrapper{
        order: 2;
    } 
    .calendar_slider_wrapper{
        overflow: overlay;
    }
    .calendar_slider_wrapper::-webkit-scrollbar {
        height: 3px;
    }
}
/* ***************************** LichTinHieu ****************************************************************** */
/* ***************************** LichTinHieu ****************************************************************** */
/* ***************************** LichTinHieu ****************************************************************** */
/* ***************************** LichTinHieu ****************************************************************** */
/* ***************************** LichTinHieu ****************************************************************** */
.calendar_table_item {
    padding: 20px;
    border-bottom: 1px solid var(--grey-box);
}
.calendar_table_item:first-child {
    padding-top: 0;
}
.calendar_table_item:last-child {
    border-bottom: none;
}
.eco-calendar_item_detail_status .item_detail_status {
    margin-top: 10px;
}
.sign-calendar .calendar_table_title {
    border-bottom: none;
}
.calendar_table_col_number .heading {
    margin-bottom: 5px;
}
.calendar_table_col_number span.status {
    padding: 8px 15px;
    background: var(--green);
    border-radius: var(--bd-rd-div);
    color: var(--white);
    display: block;
}
.sign-calendar .calendar_table_item .calendar_table_col_text_ex-change>p{
  font-weight: bold;
}
.sign-calendar .calendar_table_item .calendar_table_col_text_ex-change>p>span{
  font-weight: normal;
}
.sign-calendar .calendar_table_item .calendar_table_col_text_ex-change {
    margin-right: 10px;
}
.calendar_table_col_number  span.status.is-number {
    background: #ededed;
    color: var(--footer-text);
}
.calendar_table_col_text_img{
    width: 40px;
}
.sign-calendar .calendar_table_right{
    flex: 1;
}
.sign-calendar .calendar_table_right .calendar_table_col_number{
    width: 100%;
}
.calendar_table_right.content__wrapper{
    --col: 4;
    --spacing:10px;
}
.calendar_table_col_number .status.is-bought{
    background: rgb(244 37 37);
}
/* mobile only  */
@media screen and (max-width: 768px) {
    .calendar_table_left .calendar_table_col_number {
        display: flex;
        align-items: flex-start;
        width: 185px;
    }
    .calendar_table_left .calendar_table_col_number * {
        margin-left: 15px;
    }
    .calendar_table_right.content__wrapper{
        --col: 2;
        margin-top: 10px;
    }
    .main__content_calendar_table.sign-calendar {
        margin-bottom: 20px;
    }
}

/* tablet only  */
@media screen and (min-width:769px) and (max-width:1250px) {
    .calendar_table_left{
        margin-right: 15px;
    }
    .calendar_table_left .calendar_table_col_number * {
        margin-left: 10px;
    }
    .calendar_table_left .calendar_table_col_number {
        display: flex;
        align-items: flex-start;
        width: 185px;
    }
    .calendar_table_right.content__wrapper{
        margin-top: 15px;
    }
    .main__content_calendar_table.sign-calendar {
        margin-bottom: 20px;
    }
}

/* desktop only  */
@media screen and (min-width:1251px) {
    .calendar_table_left{
        margin-right: 30px;
    }
    .calendar_table_col_text_ex-change{
        flex: 1;
    }
    .sign-calendar .calendar_table_item .calendar_table_col_text_ex-change, 
    .sign-calendar .calendar_table_item .calendar_table_col_date {
        padding-top: 35px;
    }
}
/* border-radius: var(--bd-rd); */
/* border-bottom: 1px solid var(--grey-box); */